@page "/AdminPage"
<h3>AdminPage</h3>
<p>
    <label>Movie Name
    <input type="text" placeholder="Movie Name" />
</label>
</p>
<p>
 <label>Movie Ratings
    <input type="text" placeholder="Movie Ratings" />
</label>
</p>
<p>
 
<label>Movie Description
    <input type="text" placeholder="Movie Description" />
</label>
</p>
<button>Submit Data</button>

@code {

}
