@page "/MainPAge"
<h3>MainPage</h3>
<table>
    <thead>
        <tr>
            Movie Name
        </tr>
        
        <tr>
            Movie Rating
        </tr>
        <tr>
            Movie Desc
        </tr>
    </thead>
    <tr> 
        <td>
            Movie Name
        </td>
         <td>
             Movie Rating
        </td>
         <td>
              Movie Desc
        </td>
    </tr>
</table>
@code {

}
